extends ../layout.jade
block contenido
	center
		h2(class="pacifico big blue") Panel de Administración
		p #[strong Productos actuales]
		br
		div(class="row")
			div(class="col-md-10")
			div(class="col-md-2")
				a(class="btn btn-success" href="/menu/add" style="margin-right:-22px") #[img(src="imgs/add.png")]   Agregar nuevo
		div(class="row")
			div(class="col-md-12")
				table(class="table table-bordered table-condensed table-hover")
					thead
						tr
							th Nombre
							th Descripción
							th Precio
							th Imágenes
							th Acciones
					tbody
						each product in products
							tr
								td= product.title
								td= product.description
								td ¢#{product.pricing}
								td
									a(href="#{ product.imageURL }" class="btn btn-info") Ver imagen
								td
									a(href="/menu/edit/#{ product.id }" class="col-md-6 text-center") #[img(src="imgs/edit.png")] 
									a(href="/menu/delete/#{ product.id }" class="col-md-6 text-center") #[img(src="imgs/delete.png")]

